* {
    padding: 0;
    margin: 0;
    outline: none;
    border: none;
    font-family: 'regular';
}

:root {
    --background-main: rgb(0, 7, 19);
    --background-light: rgb(0, 24, 54);
    --border-color: rgba(0, 0, 0, 0.3);
    --text-color: rgba(255, 255, 255, 1);
    --font-color-h2: rgb(0, 150, 255);
    --accent-main: rgb(0, 150, 255);

    --background-main-ver1: rgb(0, 11, 26);
    --background-light-ver1: rgb(30, 53, 82);
}

@font-face {
    font-family: 'regular';
    src: url(/assets/fonts/RobotoMono-Regular.ttf);
}

@font-face {
    font-family: 'light';
    src: url(/assets/fonts/RobotoMono-Light.ttf);
}

.container {
    position: absolute;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: var(--background-main);
}

.navbar {
    background-color: var(--background-light);
    position: absolute;
    width: 100%;
    height: 50px;
    display: flex;
    flex-direction: row;
    align-items: center;
}

.logo {
    position: absolute;
    left: 25px;
    display: flex;
}

.logo-text {
    color: var(--font-color-h2);
}

.logo .logo-img {
    margin-right: 25px;
    height: 40px;
    width: 40px;
    background-color: var(--accent-main);
}

.actions {
    position: absolute;
    right: 25px;
    display: flex;
    flex-direction: row;
}

.actions .create-button {
    margin-right: 25px;
    padding: 5px;
    font-size: 20px;
    background-color: var(--background-main);
    color: var(--accent-main);
    border-radius: 5px;
}

.actions form {
    display: flex;
    flex-direction: row;
}

.actions .search-input {
    padding: 5px;
    font-size: 20px;
    background-color: var(--background-main);
    color: var(--accent-main);
    border-radius: 5px;
}

.search-input::placeholder {
    font-style: italic;
}

.actions .search-submit {
    width: 35px;
    height: 35px;
    margin-left: 5px;
    background: none;
    background-image: url(/assets/img/search.svg);
    background-size: 30px 30px;
    background-position: center center;
    background-repeat: no-repeat;
    filter: brightness(0);
}

.container .content {
    position: absolute;
    top: 50px;
    height: calc(100% - 50px);
    width: 100%;
    display: flex;
    flex-direction: row;
}

.content .trending-list {
    position: absolute;
    height: 100%;
    width: 450px;
    overflow-y: scroll;
}

.trending-list .trending-header {
    margin: 10px;
    padding: 20px;
    border-radius: 5px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.trending-list .trending-header h6 {
    color: var(--accent-main);
    font-size: 30px;
    text-align: center;
}

.material {
    background-color: var(--background-light);
    margin: 10px;
    padding: 20px;
    border-radius: 5px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    border: solid 3px var(--border-color);
}

.material:hover>h1 {
    opacity: 75%;
}

.material h1 {
    color: var(--text-color);
    font-size: 25px;
    transition: opacity .2s ease-in-out;
}

.material h2 {
    margin-top: 0px;
    font-size: 15px;
    color: var(--font-color-h2);
    margin-bottom: 0px;
}

.material .user {
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-end;
}

.user .profile-pic {
    width: 25px;
    height: 25px;
    margin-right: 10px;
    background-color: var(--accent-main);
    border-radius: 5px;
}

.user h3 {
    color: var(--text-color);
    font-size: 15px;
}

.material.trending h2 {
    margin-bottom: 10px;
}

.content-right {
    position: absolute;
    left: 450px;
    height: 100%;
    width: calc(100% - 450px);
    overflow-y: scroll;
}

.starred-header {
    width: calc(100% - 55px);
    margin: 10px;
    margin-bottom: 0px;
    margin-top: 0px;
    padding: 20px;
    border-radius: 5px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.starred-header h1 {
    color: var(--accent-main);
    text-align: center;
}

.starred-list {
    width: auto;
    height: auto;
    display: flex;
    flex-direction: column;
    overflow-y: hidden;
    overflow-x: scroll;
}

.starred-list-top {
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: row;

}

.starred-list-bottom {
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: row;

}


.material.starred {
    min-width: 350px;
    max-width: 390px;
    height: min-content;
}

.recent-header {
    width: calc(100% - 55px);
    margin: 10px;
    margin-bottom: 0px;
    margin-top: 0px;
    padding: 20px;
    border-radius: 5px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.recent-header h1 {
    color: var(--accent-main);
    text-align: center;
}

.recent-list {
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: column;
    overflow-y: hidden;
}

.recent-list-top {
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: row;

}

.recent-list-bottom {
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: row;

}

.material.recent {
    min-width: 350px;
    max-width: 390px;
    height: min-content;
}